.post{
    position: relative;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 3px;
    background-color: rgb(255 255 255 / 80%);
    // max-width: 80%;
    width: 100%;
    
    .post-title{
        text-align: center;
        max-width: 50%;
        margin: 0  auto 10px;
    }

    .post-content{
        text-align: center;
    }

    .post-author{
        margin-top: 10px;
        float: right;
        &::before{
            content: '';
            width: 200%;
            height: 1px;
            background-color: black;
            display: block;
            translate: -50% -2px;
        }
    }



}